@model wardrobe.Models.Wardrobe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wardrobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, " Look name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Occasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Top.TopStyle, "Top")

        </dt>
        <dd>

            @if (Model.Top.Photo == "Summer")
            {
                <p>I love <strong>Summer</strong>! One of my favorite tops to wear is a panda shirt</p>
                            <img src="@Url.Content("~/Content/summertop.jpg")" width="200" height="200" />
            }
            @if (Model.Top.Photo == "yellow")
            {
                <p><strong>Yellow</strong> is one of my favorite color and if I have to go somewhere uncomfortable, I will wear the most comfortable color!</p>
                            <img src="@Url.Content("~/Content/yellowtops.jpg")" width="200" height="200" />
            }
            @if (Model.Top.Photo == "gray")
            { 
                <p><strong>Gray</strong> is my to go color, I can wear any Shoes or Accessories with gray. Gray always saves me time every morning. </p>
                            <img src="@Url.Content("~/Content/graytops.jpg")" width="200" height="200" />
            }

        </dd>
        <dt>
            @Html.LabelFor(model => model.Bottom.BottomStyle, "Bottom")
        </dt>

        <dd>
            @if (Model.Bottom.Photo.ToLower() == "skirt")
            {
                <img src="@Url.Content("~/Content/1497206.jpg")" width="200" height="200" />
            }
            @if (Model.Bottom.Photo.ToLower() == "shorts")
            {
                <img src="@Url.Content("~/Content/shorts.jpg")" width="200" height="200" />
            }
            @if (Model.Bottom.Photo.ToLower() == "jeans")
            {
                <img src="@Url.Content("~/Content/jeans.jpg")" width="200" height="200" />
            }

        </dd>

        <dt>
            @Html.LabelFor(model => model.Sho.ShoeStyle, "Style")
        </dt>

        <dd>
            @if (Model.Sho.Photo.ToLower() == "athletic")
            {
                <img src="@Url.Content("~/Content/converseshoes.jpg")" width="200" height="200" />
            }
            @if (Model.Sho.Photo.ToLower() == "flats")
            {
                <img src="@Url.Content("~/Content/flatshoes.jpg")" width="200" height="200" />
            }
            @if (Model.Sho.Photo.ToLower() == "boots")
            {
                <img src="@Url.Content("/Content/boots2.jpg")" width="200" height="200" />
            }
        </dd>

        <dt>
            @Html.LabelFor(model => model.Accessory.NameofAccessories, "Accessories")
        </dt>

        <dd>
            @if (Model.Accessory.Photo.ToLower() == "watch")
            {
                <img src="@Url.Content("~/Content/Applewatch.jpg")" width="200" height="200" />
            }
            @if (Model.Accessory.Photo.ToLower() == "eyeglass")
            {
                <img src="@Url.Content("~/Content/sunglass.jpg")" width="200" height="200" />
            }
            @if (Model.Accessory.Photo.ToLower() == "purse")
            {
                <img src="@Url.Content("~/Content/purse2.jpg")" width="200" height="200" />
            }

        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WardrobeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
