@model wardrobe.Models.Shoes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoeStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <!--I created an if statement on my image to show different images for the user-->

            @if (Model.Photo.ToLower() == "athletic")
            {
                <img src="@Url.Content("~/Content/converseshoes.jpg")" width="200" height="200" />
            }
            @if (Model.Photo.ToLower() == "flats")
            {
                <img src="@Url.Content("~/Content/flatshoes.jpg")" width="200" height="200" />
            }
            @if (Model.Photo.ToLower() == "boots")
            {
                <img src="@Url.Content("/Content/boots2.jpg")" width="200" height="200" />
            }
        <dd>

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
