@model wardrobe.Models.Shoes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoeStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        <dd>
        <img src="@Url.Content("~/Content/converseshoes.jpg")" width="200" height="200" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
