@model IEnumerable<wardrobe.Models.Shoes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row ">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@Html.DisplayFor(model => item.ShoeStyle)</h4>
                       @if(item.Photo.ToLower() == "athletic")
                       {
                        <img src="@Url.Content("~/Content/converseshoes.jpg")" width="200" height="200"/>
                       }
                       @if (item.Photo.ToLower()=="flats")
                       {
                           <img src="@Url.Content("~/Content/flatshoes.jpg")" width="200" height="200"/>
                       }
                       @if (item.Photo.ToLower()=="boots")
                       {
                           <img src="@Url.Content("/Content/boots2.jpg")" width="200" height="200" />
                       }
                        <p> @Html.ActionLink("Details", "Details", new { id = item.ShoesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShoeStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoesID })
        </td>
    </tr>
}

</table>*@
