@model IEnumerable<wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row ">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@Html.DisplayFor(model => item.BottomStyle)</h4>
                        @if (item.Photo.ToLower() == "skirt")
                        {
                            <img src="@Url.Content("~/Content/1497206.jpg")" width="200" height="200" />
                        }
                        @if (item.Photo.ToLower() == "shorts")
                        {
                            <img src="@Url.Content("~/Content/shorts.jpg")" width="200" height="200" />
                        }
                        @if (item.Photo.ToLower() == "jeans")
                        {
                            <img src="@Url.Content("~/Content/jeans.jpg")" width="200" height="200" />
                        }
                        <p> @Html.ActionLink("Details", "Details", new { id = item.BottomsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
