@model IEnumerable<wardrobe.Models.Accessories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row ">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Name: @Html.DisplayFor(model => item.NameofAccessories)</h4>
                        @if (item.Photo.ToLower() == "watch")
                        {
                            <img src="@Url.Content("~/Content/Applewatch.jpg")" width="200" height="200" />
                        }
                        @if (item.Photo.ToLower() == "eyeglass")
                        {
                            <img src="@Url.Content("~/Content/sunglass.jpg")" width="200" height="200" />
                        }
                        @if (item.Photo.ToLower() == "purse")
                        {
                            <img src="@Url.Content("~/Content/purse2.jpg")" width="200" height="200" />
                        }
                        <p> @Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
