@model wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
          
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/summertop.jpg")" width="200" height="200" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
