@model wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)

        </dt>

        <dd>
            <!--I created an if statement on my image to show different images for the user-->

            @if (Model.Photo == "Summer")
            {
                <p>I love <strong>Summer</strong>! One of my favorite tops to wear is a panda shirt</p>
                <img src="@Url.Content("~/Content/summertop.jpg")" width="200" height="200" />
            }
            @if (Model.Photo == "yellow")
            {
                <p><strong>Yellow</strong> is one of my favorite color and if I have to go somewhere uncomfortable, I will wear the most comfortable color!</p>
                <img src="@Url.Content("~/Content/yellowtops.jpg")" width="200" height="200" />
            }
            @if (Model.Photo == "gray")
            {
                <p><strong>Gray</strong> is my to go color, I can wear any Shoes or Accessories with gray. Gray always saves me time every morning. </p>
                <img src="@Url.Content("~/Content/graytops.jpg")" width="200" height="200" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
