@model IEnumerable<wardrobe.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row ">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@Html.DisplayFor(model => item.TopStyle)</h4>
                        
                        @if (item.Photo == "Summer")
                        {
                            <p>I love <strong>Summer</strong>! One of my favorite tops to wear is a panda shirt</p>
                            <img src="@Url.Content("~/Content/summertop.jpg")" width="200" height="200" />
                        }
                        @if (item.Photo=="yellow")
                        {
                            <p><strong>Yellow</strong> is one of my favorite color and if I have to go somewhere uncomfortable, I will wear the most comfortable color!</p>
                            <img src="@Url.Content("~/Content/yellowtops.jpg")" width="200" height="200"/>
                        }
                        @if (item.Photo=="gray")
                        {
                            <p><strong>Gray</strong> is my to go color, I can wear any Shoes or Accessories with gray. Gray always saves me time every morning. </p>
                            <img src="@Url.Content("~/Content/graytops.jpg")" width="200" height="200"/>
                        }
                        <p> @Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopsID })
        </td>
    </tr>
}

</table>*@
